<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T100 Queries</title>
</head>
<body>
    <h1>VIKAS KRISHNA KK</h1>
    <h2>Assignment 4.5</h2>
    <h2>Django O/RM and Queries</h2>

    <div>
        <ul>
            {% comment %} 
            * What are the top 5 airports in terms of:
                * Total passengers by origin
                * Total passengers by destination 
            {% endcomment %}
            <li>What are the top 5 airports in terms of:
                <ul>
                    <li><a href="{% url 'top5paxorigin' %}">Total passengers by origin</a></li>
                    <li> <a href="{% url 'top5paxdestination' %}"> Total passengers by destination</a></li>
                </ul>
            </li>
            {% comment %} 
            * What are the top 5 airports in terms of:
                * Total freight by origin
                * Total freight by destination
            {% endcomment %}
            <li>What are the top 5 airports in terms of:
                <ul>
                    <li><a href="{% url 'top5freorigin' %}">Total Freight by origin</a></li>
                    <li> <a href="{% url 'top5fredestination' %}"> Total Freight by destination</a></li>
                </ul>
            </li>
            {% comment %} 
            * What are the top 5 airports in terms of:
                * Total mail by origin
                * Total mail by destination
            {% endcomment %}
            <li>What are the top 5 airports in terms of:
                <ul>
                    <li><a href="{% url 'top5mailorigin' %}">Total Mail by origin</a></li>
                    <li> <a href="{% url 'top5maildestination' %}"> Total Mail by destination</a></li>
                </ul>
            </li>
            {% comment %} 
            * What are the top 5 airports in terms of:
                * Total distance by origin
                * Total distance by destination    
            {% endcomment %}
            <li>What are the top 5 airports in terms of:
                <ul>
                    <li><a href="{% url 'top5distorigin' %}">Total Distance by origin</a></li>
                    <li> <a href="{% url 'top5distdestination' %}"> Total Distance by destination</a></li>
                </ul>
            </li>    
            {% comment %} 
            * Which airport reported the most passengers by month?
            * Which airport reported the longest distance by month?
            * Which airline reported the most freight carried?
            * Which airline reported the most passengers carried?
            * Which airline reported the most mail carried?
            * Which airline reported the longest flight distance?     
            {% endcomment %}
            <li><a href=" {% url 'toppassengers_month' %} ">Which airport reported the most passengers by month?</a></li>
            <li><a href=" {% url 'topdistance_month' %} ">Which airport reported the longest distance by month?</a></li>
            <li><a href=" {% url 'airline_by_most_freight' %} ">Which airline reported the most freight carried?</a></li>
            <li><a href=" {% url 'airline_by_most_passengers' %} ">Which airline reported the most passengers carried?</a></li>
            <li><a href=" {% url 'airline_by_most_mail' %} ">Which airline reported the most mail carried?</a></li>
            <li><a href=" {% url 'airline_by_most_distance' %} ">Which airline reported the longest flight distance?</a></li>

            {% comment %} 
            * Rank order passengers carried, by month, for these airlines:
                * AA (American Airlines)
                * AS (Alaska Airlines)
                * DL (Delta Airlines)
                * UA (United Airlines)
                * WN (Southwest Airlines)
            {% endcomment %}
            <li> Rank order passengers carried, by month, for these airlines:
                <ul>
                    <li><a href=" {% url 'passenger_by_month_for_airlines' 'AA' %} ">AA (American Airlines)</a></li>
                    <li><a href=" {% url 'passenger_by_month_for_airlines' 'AS' %} ">AS (Alaska Airlines)</a></li>
                    <li><a href=" {% url 'passenger_by_month_for_airlines' 'DL' %} ">DL (Delta Airlines)</a></li>
                    <li><a href=" {% url 'passenger_by_month_for_airlines' 'UA' %} ">UA (United Airlines)</a></li>
                    <li><a href=" {% url 'passenger_by_month_for_airlines' 'WN' %} ">WN (Southwest Airlines)</a></li>
                </ul>
            </li>
            {% comment %} 
            * Find the average number of passengers for flights into:
                * LAX (Los Angeles)
                * SFO (San Francisco)
                * DFW (Dallas-Fort Worth)
                * ATL (Atlanta)
                * ORD (Chicago)
            {% endcomment %}
            <li>Find the average number of passengers for flights into:
                <ul>
                    <li><a href=" {% url 'average_number_passengers_dest_airport' 'LAX' %} ">LAX (Los Angeles)</li>
                    <li><a href=" {% url 'average_number_passengers_dest_airport' 'SFO' %} ">SFO (San Francisco)</a></li>
                    <li><a href=" {% url 'average_number_passengers_dest_airport' 'DFW' %} ">DFW (Dallas-Fort Worth)</a></li>
                    <li><a href=" {% url 'average_number_passengers_dest_airport' 'ATL' %} ">ATL (Atlanta)</a></li>
                    <li><a href=" {% url 'average_number_passengers_dest_airport' 'ORD' %} ">ORD (Chicago)</a></li>
                </ul>
            </li>

            {% comment %} 
            * Find the average volume of freight for flights departing:
                * MIA (Miami)
                * MEM (Memphis)
                * JFK (New York JFK)
                * ANC (Anchorage)
                * SDF (Louisville) 
            {% endcomment %}
            <li> Find the average volume of freight for flights departing:
                <ul>
                    <li><a href=" {% url 'average_volume_freight_orig_airport' 'MIA' %} ">MIA (Miami)</a></li>
                    <li><a href=" {% url 'average_volume_freight_orig_airport' 'MIA' %} ">MEM (Memphis)</a></li>
                    <li><a href=" {% url 'average_volume_freight_orig_airport' 'MIA' %} ">JFK (New York JFK)</a></li>
                    <li><a href=" {% url 'average_volume_freight_orig_airport' 'MIA' %} ">ANC (Anchorage)</a></li>
                    <li><a href=" {% url 'average_volume_freight_orig_airport' 'MIA' %} ">SDF (Louisville)</a></li>
                </ul>
            </li>
            {% comment %} 
            * What city pairs represent the most freight carried for the longest distance?
            * What city pairs represent the most mail carried for the shortest distance?
            {% endcomment %}
            <li><a href=" {% url 'city_pair_most_freight' %} ">What city pairs represent the most freight carried for the longest distance?</a></li>
            <li><a href=" {% url 'city_pair_most_mail' %} ">What city pairs represent the most mail carried for the shortest distance?</a></li>
        </ul>
    </div>
</body>
</html>